<footer class="footer">
  <div class="container">
    <nav class="pull-left">
      <ul>
        <li>
          <%= link_to "Hello", "#" %>
        </li>
        <li>
          <%= link_to "About Us", "#" %>
        </li>
        <li>
          <%= link_to "Blog", "#" %>
        </li>
        <li>
          <%= link_to "Licenses", "#" %>
        </li>
      </ul>
    </nav>
      <div class="copyright pull-right">
          2017, made with <i class="fa fa-heart heart"></i> by <%= link_to "Durev", "https://github.com/Durev", target: "_blank" %>
      </div>
  </div> <!-- /container -->
</footer>
